<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Activities.AlbumsTravelerFeedCommunityActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AlbumsCommunity"
            android:exported="false" />
        <activity
            android:name=".Activities.AlbumsAskQuestionActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AlbumsShareExpActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AlbumsCreateAlbumsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AlbumsWriteStoryActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AlbumsAddPhotosActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.UserReviewsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MapActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AlbumsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.PlaceDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.BarsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SupportActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.OTPActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SignupActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.RegistrationActivity"
            android:exported="false" />
        <activity android:name=".Activities.OnboardingActivity" />
        <activity
            android:name=".Activities.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Activities.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>